input,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(107, 107, 107);
  resize: none;
}

input::placeholder,
textarea::placeholder {
  color: rgb(179, 179, 179);
}

.inputerror {
  border: 2px solid red;
}

select {
  padding: 8px 16px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
}